html, #tablelist,#headertable,#logo,#message
{
    /* Applies to all pages */
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    width: 100%;
    font-weight:bold;
}
/*
 * Scaffolding
 * Basic and global styles for generating a table system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */
body {
    background-color: #111111;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
}

#tablelist th, #headertable th
{
    font-size:1.1em;
    text-align:left;
    padding-bottom:4px;
    border-bottom: 1px solid                          #111111/*{table-border}*/;
    font-weight: bold;
    background-color: #222222;
}

#tablelist td, #headertable td
{
    font-size:1em;
    text-align:left;
    font-weight:bold;
    padding:4px;
    border-bottom: 1px solid                          #111111 /*{headertable-border}*/;
    color:#ffffff;
}

#tablelist tr:nth-child(odd)
{
    font-size:1em;
    font-weight:bold;
    text-align:left;
    color:#444444;
    background-color:#111111;
}

#tablelist th.title, #headertable th.title
{
    font-size:1.5em;
    text-shadow: 3px /*{shadow-x}*/ 3px /*{shadow-y}*/ 0 /*{shadow-radius}*/ #111 /*{shadow-color}*/;
}

#tablelist th.bold, #tablelist td.bold, #headertable th.bold, #headertable td.bold
{
    font-weight: bold;
}

#tablelist th.right, #tablelist td.right, #headertable th.right, #headertable td.right
{
    text-align: right;
}

#tablelist th.center, #tablelist td.center, #headertable th.center, #headertable td.center
{
    text-align: center;
}

#logo
{
    height: auto;
    width: auto;
    text-align: center;
    border-bottom:1px solid #111111;
}

#message
{
    text-align:center;
    font-weight: bold;
    color: tomato;
}

#tablelist th.span, #tablelist td.span, #headertable th.span, #headertable td.span
{
    column-span: all;
    text-align: center;
}

a:-webkit-any-link
{
    color: #2489ce;
    text-decoration: underline;
    cursor: auto;
}

.footer
{
    height: 40px;
    position: relative;
    z-index: 10000;
    overflow: visible;
    margin-left:auto;
    margin-right:auto;
    padding:5px 5px;
    text-align:center;
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 36px;
}
